    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFBF6;
    width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mulish', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

.img-container {
    position: relative;
    width: 50%;
    height: 100%;
}

.img-container img {
    width: 100%;
    height: 100dvh;
    object-fit: cover;
}

.customer-management {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 30px;
    left: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.06);
}

.customer-logo {
    padding: 10px;
}

.customer-logo img {
    width: 72px;
    height: 72px;
}

.customer-content {
    padding: 10px;
}

.customer-content h4 {
    font-size: 16px;
    font-weight: 700;
}

.customer-content p {
    font-size: 12px;
    font-weight: 400;
}

.help {
    position: absolute;
    top: 20px;
    right: 20px;
}

.help a {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #FF7A00;
    padding: 5px 10px;
    border-radius: 5px;
}

.container-details {
    padding: 40px;
    width: 50%;
    height: 100%;
    background-color: #FFFBF6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo {
    width: 60px;

}
.logo img {
    width: 100%;
}

.signIn-text h2 {
    font-size: 36px;
    font-weight: 700;
    color: #585858;
    margin-top: 40px;
}

.signIn-text p {
    font-size: 18px;
    font-weight: 400;
    color: #AFB0B1;
    margin-top: 13px;
}

form {
    margin-top: 20px;
}

.login-input, .password-input {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.06);
    margin-top: 20px;
}

.login-input label, .password-input label {
    font-size: 16px;
    font-weight: 400;
}

.input-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.input-content i {
    color: #7A7C87;
    width: 20px;
    /* height: 20px; */
}

.login-input input, .password-input input {
    border: none;
    outline: none;
    width: 100%;
}

.password-input .password-text{
    display: flex;
    justify-content: space-between;
}

.password-text a{
    text-decoration: none;
    color: #EE5331;
    font-size: 10px;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.option1 {
    display: flex;
    align-items: center;
}

.option1 input {
    margin-right: 10px;
}

input[type="checkbox"]:checked {
    background-color: #FF7A00 !important; /* Change this to your desired color */
}

.option1 label {
    font-size: 12px;
    font-weight: 400;
    color: #7F8B94;
}

.option2 a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: #FF7A00;
}

button {
    border: none;
    outline: none;
    margin-top: 30px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    background-color: #FF7A00;
    color: #f9f9f9;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    background-color: #e66a00;
}

/* @media screen and (max-width: 1336px) {
    
} */


/* Media query for tablets and mobile screens */
@media (max-width: 1024px) {
    .container {
        flex-direction: column-reverse;
    }

    .img-container,
    .container-details {
        width: 100%;
    }

    .img-container img {
        /* height: 600px; */
        height: 100%;
    }

    .container-details {
        /* padding: 20px; */
        margin-top: 0px;
        border-radius: 20px;

    }

    .signIn-text h2 {
        font-size: 24px;
    }

    .signIn-text p {
        font-size: 16px;
    }

    .login-input, .password-input {
        padding: 10px;
        margin-top: 10px;
    }

    .input-content {
        margin-top: 10px;
    }

    button {
        margin-top: 15px;
        padding: 5px;
    }

    .help a {
        font-size: 12px;
        padding: 5px;
    }
    .customer-management{
        margin-left: 70px;
        height: 100px;
    }
    .customer-logo img {
        width: 70px;
        height: 70px;
    }

}


/* Media query for mobile screens */
@media (max-width: 767px) {
    .container {
        flex-direction: column-reverse;
    }

    .img-container img {
        width: 100%;
        height: auto;
    }

    .container-details {
        margin-top: -120px;
        border-radius: 20px;

    } 

    .container-details .logo{
        margin-top: 120px;
        
    }

    .container-details .logo img{
        width: 50px;
        height: 60px;
    }

    form{
        margin-top: 20px;
    }

    .login-input, .password-input {
        width: 100%;
        margin-top: 20px;
        padding: 10px;
    }

    .options {
        flex-direction: row;
        align-items: flex-start;
        margin-top: 20px;

    }

    .option1, .option2 {
        margin-bottom: 10px;
    }
    
    

    button {
        width: 100%;
        height: 50px;
        margin-top: 20px;
    }

    .help a {
        font-size: 12px;
        padding: 5px;
    }
    .customer-management{
        margin-right: 50px;
    }
}
